# Python
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
pip-log.txt

# Build
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node
node_modules/
package-lock.json
npm-debug.log
.yarn-integrity
.yarn/
